#top_menu li {
  display: inline-block;
  height: 40px;
  width:100%
  line-height: 40px;
  margin:2rem;
}

#top_menu ul {
  list-style-type: none;
  text-align: center;
  width:100%;
  margin:2rem;
}